<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <label>Student Number</label>
    <% f.label :email %><br />
    <input id="student-number">
    <div style="display:none">
      <%= f.email_field :email, autofocus: true %>
    </div>
    <!-- student_email -->
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<script>
$(document).ready(function () {
  var sN = document.getElementById("student-number");
  var sM = document.getElementById("student_email");
  $("#student-number").keyup(
    function () {
      sM.value = sN.value + "@itesm.mx";
    }
  );
}
);
</script>
<%= render "students/shared/links" %>
