<!DOCTYPE html>
<html>
<head>
  <title>Prueba</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
	<% if flash or alert %>
		<div class="notices">
			<% if notice %>
				<div class="notice">
					<div class="close-button">
						<div></div>
						<div></div>
					</div>	
					<p><%= notice %></p>
				</div>
			<% end %>
			<% if alert %> 
				<div class="alert">
					<div class="close-button">
						<div></div>
						<div></div>
					</div>
					<p><%= alert %></p>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>
<% if student_signed_in? %>
	<%= link_to "logout", destroy_student_session_path %>
<% end %>
<%= yield %>

</body>
</html>
