<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <label>Student Number</label>
    <% f.label :email %><br />
    <div style="display:none">
      <%= f.text_field :email, autofocus: true %>
    </div>
    <input id="student-number">
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<script>
$(document).ready(function () {
  var sN = document.getElementById("student-number");
  var sM = document.getElementById("student_email");
  $("#student-number").keyup(
    function () {
      sM.value = sN.value + "@itesm.mx";
    }
  );
}
);
</script>
<%= render "students/shared/links" %>
